# Maven 관련
/target/
/pom.xml.tag
/pom.xml.releaseBackup
/pom.xml.versionsBackup
/logging.properties

# Maven Wrapper 관련
/.mvn/wrapper/maven-wrapper.properties
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper-debug.log
.mvn/wrapper/maven-wrapper.js
.mvn/

# mvnw 관련
.mvnw
.mvnw.cmd

# IntelliJ IDEA 관련
*.iml
.idea/
/out/

# 운영 체제 관련
.DS_Store
Thumbs.db

# 로그 파일
*.log

# 빌드 결과물
/build/
/dist/
/out/

# 기타
*.swp
*.swo
*.tmp
*.bak
*.orig
*.rej
*.class
*.jar
*.war
*.ear
*.zip